##### Importing Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

In [3]:
data=pd.read_csv("..\Dataset\Final dataset.csv")
data.head()

,Emission_date,Expiration_date,CO2_emission,Emission_classification,Consumption_KWh_per_m2_per_year,Consumption_classification,Building_type,Building_condition,Year_of_construction,Surface_area_m2,...,Date,Earth Skin Temperature,Humidity,Surface Pressure,Temperature at 2 Meters Range,Temperature at 2 Meters Minimum,Temperature at 2 Meters Maximum,Wind Speed,Name,holidays
0,2013-06-29,2023-06-29,30.11,E,142.33,E,Vivienda individual,Existente,1962,49.0,...,2013-06-29,21.92,8.24,98.10,17.45,11.76,29.22,3.45,Working day,0.0
1,2013-09-26,2023-09-26,46.06,E,174.42,E,Vivienda individual,Existente,1974,81.0,...,2013-09-26,25.90,9.16,97.02,16.92,17.44,34.37,4.02,Working day,0.0
2,2014-02-26,2024-02-26,20.30,D,94.16,D,Vivienda individual,Existente,1999,72.0,...,2014-02-26,5.69,4.21,97.87,8.25,1.69,9.94,4.11,Working day,0.0
3,2013-06-12,2023-06-12,39.21,E,187.66,E,Vivienda individual,Existente,1970,65.0,...,2013-06-12,25.69,10.62,97.62,15.64,16.14,31.78,3.02,Working day,0.0
4,2013-06-27,2023-06-27,103.75,G,409.03,G,Vivienda individual,Existente,1965,46.0,...,2013-06-27,20.51,7.51,97.97,16.16,11.04,27.20,5.42,Working day,0.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161275 entries, 0 to 161274
Data columns (total 27 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Emission_date                    161275 non-null  object
 1   Expiration_date                  161275 non-null  object
 2   CO2_emission                     161275 non-null  float64
 3   Emission_classification          161275 non-null  object
 4   Consumption_KWh_per_m2_per_year  161275 non-null  float64
 5   Consumption_classification       161275 non-null  object
 6   Building_type                    161275 non-null  object
 7   Building_condition               161275 non-null  object
 8   Year_of_construction             161275 non-null  int64
 9   Surface_area_m2                  161275 non-null  float64
 10  Municipality                     161275 non-null  object
 11  Province                         161275 non-null  object
 12  GPS_coordinates                  161275 non-null  object
 13  Days_until_expiration            161275 non-null  int64
 14  year                             161275 non-null  int64
 15  month                            161275 non-null  int64
 16  day                              161275 non-null  int64
 17  Date                             161275 non-null  object
 18  Earth Skin Temperature           161275 non-null  float64
 19   Humidity                        161275 non-null  float64
 20  Surface Pressure                 161275 non-null  float64
 21  Temperature at 2 Meters Range    161275 non-null  float64
 22  Temperature at 2 Meters Minimum  161275 non-null  float64
 23  Temperature at 2 Meters Maximum  161275 non-null  float64
 24  Wind Speed                       161275 non-null  float64
 25  Name                             161275 non-null  object
 26  holidays                         161275 non-null  float64
dtypes: float64(11), int64(5), object(11)
memory usage: 33.2+ MB

##### Data Cleaning

In [5]:
data.duplicated().sum()

np.int64(2799)

In [6]:
data.drop_duplicates()

,Emission_date,Expiration_date,CO2_emission,Emission_classification,Consumption_KWh_per_m2_per_year,Consumption_classification,Building_type,Building_condition,Year_of_construction,Surface_area_m2,...,Date,Earth Skin Temperature,Humidity,Surface Pressure,Temperature at 2 Meters Range,Temperature at 2 Meters Minimum,Temperature at 2 Meters Maximum,Wind Speed,Name,holidays
0,2013-06-29,2023-06-29,30.11,E,142.33,E,Vivienda individual,Existente,1962,49.00,...,2013-06-29,21.92,8.24,98.10,17.45,11.76,29.22,3.45,Working day,0.0
1,2013-09-26,2023-09-26,46.06,E,174.42,E,Vivienda individual,Existente,1974,81.00,...,2013-09-26,25.90,9.16,97.02,16.92,17.44,34.37,4.02,Working day,0.0
2,2014-02-26,2024-02-26,20.30,D,94.16,D,Vivienda individual,Existente,1999,72.00,...,2014-02-26,5.69,4.21,97.87,8.25,1.69,9.94,4.11,Working day,0.0
3,2013-06-12,2023-06-12,39.21,E,187.66,E,Vivienda individual,Existente,1970,65.00,...,2013-06-12,25.69,10.62,97.62,15.64,16.14,31.78,3.02,Working day,0.0
4,2013-06-27,2023-06-27,103.75,G,409.03,G,Vivienda individual,Existente,1965,46.00,...,2013-06-27,20.51,7.51,97.97,16.16,11.04,27.20,5.42,Working day,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161269,2023-12-26 00:00:00,2028-12-26,179.85,G,1015.16,G,Local,Existente,1965,25.42,...,2023-12-26,4.03,2.93,97.84,12.66,1.72,14.38,4.73,St Stephen's Day,1.0
161271,2023-11-24 00:00:00,2033-12-20,18.68,B,86.84,B,Unifamiliar,Proyecto Reforma,2013,329.99,...,2023-11-24,8.87,5.25,97.34,12.41,4.40,16.82,3.14,Working day,0.0
161272,2023-12-22 00:00:00,2033-12-22,42.27,E,202.82,E,Vivienda individual,Existente,1977,100.86,...,2023-12-22,10.00,6.16,98.22,7.60,7.04,14.64,2.92,December Solstice,1.0
161273,2023-12-23 00:00:00,2033-12-23,40.00,C,236.15,D,Local,Existente,2007,93.00,...,2023-12-23,8.68,5.80,98.14,8.16,6.25,14.40,2.66,Working day,0.0
161274,2023-12-27 00:00:00,2028-12-27,118.27,G,564.45,G,Unifamiliar,Existente,2000,91.00,...,2023-12-27,2.95,2.69,97.93,14.16,-0.03,14.12,2.87,Working day,0.0

#### Converting into date format

In [7]:
def convert_to_dateform(df,column):
   df[column] = pd.to_datetime(df[column] ,errors='coerce')

In [8]:
dates=['Expiration_date','Date']

for i in dates:
   convert_to_dateform(data,i)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161275 entries, 0 to 161274
Data columns (total 27 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Emission_date                    161275 non-null  object
 1   Expiration_date                  161275 non-null  datetime64[ns]
 2   CO2_emission                     161275 non-null  float64
 3   Emission_classification          161275 non-null  object
 4   Consumption_KWh_per_m2_per_year  161275 non-null  float64
 5   Consumption_classification       161275 non-null  object
 6   Building_type                    161275 non-null  object
 7   Building_condition               161275 non-null  object
 8   Year_of_construction             161275 non-null  int64
 9   Surface_area_m2                  161275 non-null  float64
 10  Municipality                     161275 non-null  object
 11  Province                         161275 non-null  object
 12  GPS_coordinates                  161275 non-null  object
 13  Days_until_expiration            161275 non-null  int64
 14  year                             161275 non-null  int64
 15  month                            161275 non-null  int64
 16  day                              161275 non-null  int64
 17  Date                             161275 non-null  datetime64[ns]
 18  Earth Skin Temperature           161275 non-null  float64
 19   Humidity                        161275 non-null  float64
 20  Surface Pressure                 161275 non-null  float64
 21  Temperature at 2 Meters Range    161275 non-null  float64
 22  Temperature at 2 Meters Minimum  161275 non-null  float64
 23  Temperature at 2 Meters Maximum  161275 non-null  float64
 24  Wind Speed                       161275 non-null  float64
 25  Name                             161275 non-null  object
 26  holidays                         161275 non-null  float64
dtypes: datetime64[ns](2), float64(11), int64(5), object(9)
memory usage: 33.2+ MB

#### Converting Month column to numeric

In [10]:
data['month']=pd.to_numeric(data['month'])

In [11]:
print("Row :",data.shape[0])
print("Columns :",data.shape[1])
print("\nFeatures :\n",data.columns.to_list())
print("\nMissing Values :\n",data.isna().any())

Row : 161275
Columns : 27

Features :
 ['Emission_date', 'Expiration_date', 'CO2_emission', 'Emission_classification', 'Consumption_KWh_per_m2_per_year', 'Consumption_classification', 'Building_type', 'Building_condition', 'Year_of_construction', 'Surface_area_m2', 'Municipality', 'Province', 'GPS_coordinates', 'Days_until_expiration', 'year', 'month', 'day', 'Date', 'Earth Skin Temperature', ' Humidity', 'Surface Pressure', 'Temperature at 2 Meters Range', 'Temperature at 2 Meters Minimum', 'Temperature at 2 Meters Maximum', 'Wind Speed', 'Name', 'holidays']

Missing Values :
 Emission_date                      False
Expiration_date                    False
CO2_emission                       False
Emission_classification            False
Consumption_KWh_per_m2_per_year    False
Consumption_classification         False
Building_type                      False
Building_condition                 False
Year_of_construction               False
Surface_area_m2                    False
Municipality                       False
Province                           False
GPS_coordinates                    False
Days_until_expiration              False
year                               False
month                              False
day                                False
Date                               False
Earth Skin Temperature             False
 Humidity                          False
Surface Pressure                   False
Temperature at 2 Meters Range      False
Temperature at 2 Meters Minimum    False
Temperature at 2 Meters Maximum    False
Wind Speed                         False
Name                               False
holidays                           False
dtype: bool

In [12]:
print("\nUnique Values :\n",data.nunique())

Unique Values :
 Emission_date                       8966
Expiration_date                     3913
CO2_emission                       14672
Emission_classification                7
Consumption_KWh_per_m2_per_year    43446
Consumption_classification             8
Building_type                          5
Building_condition                     4
Year_of_construction                 216
Surface_area_m2                    19540
Municipality                         713
Province                               3
GPS_coordinates                    48945
Days_until_expiration               3513
year                                  11
month                                 12
day                                   31
Date                                3913
Earth Skin Temperature              2140
 Humidity                            186
Surface Pressure                     370
Temperature at 2 Meters Range       1315
Temperature at 2 Meters Minimum     1877
Temperature at 2 Meters Maximum     2184
Wind Speed                           742
Name                                  91
holidays                               2
dtype: int64

In [13]:
data.describe()

,Expiration_date,CO2_emission,Consumption_KWh_per_m2_per_year,Year_of_construction,Surface_area_m2,Days_until_expiration,year,month,day,Date,Earth Skin Temperature,Humidity,Surface Pressure,Temperature at 2 Meters Range,Temperature at 2 Meters Minimum,Temperature at 2 Meters Maximum,Wind Speed,holidays
count,161275,161275.000000,161275.000000,161275.000000,161275.000000,161275.000000,161275.000000,161275.000000,161275.000000,161275,161275.000000,161275.000000,161275.000000,161275.000000,161275.000000,161275.000000,161275.000000,161275.000000
mean,2028-08-24 22:07:34.612307968,55.321134,276.252739,1976.887608,169.106361,3641.524291,2018.171918,6.597762,16.099023,2018-09-05 09:05:39.050689792,16.344704,7.073086,97.387726,12.837533,9.938002,22.775759,4.290398,0.162449
min,2023-01-01 00:00:00,0.000000,0.000000,50.000000,0.000000,1825.000000,2013.000000,1.000000,1.000000,2013-01-01 00:00:00,-3.810000,1.950000,94.610000,1.870000,-6.300000,1.070000,0.780000,0.000000
25%,2025-12-21 00:00:00,37.500000,179.240000,1964.000000,59.875000,3652.000000,2015.000000,4.000000,9.000000,2015-11-18 00:00:00,9.400000,5.250000,97.060000,10.360000,4.880000,15.880000,3.090000,0.000000
50%,2028-05-23 00:00:00,50.400000,239.860000,1977.000000,76.510000,3653.000000,2018.000000,6.000000,16.000000,2018-06-24 00:00:00,15.940000,6.770000,97.380000,12.730000,9.440000,22.430000,4.030000,0.000000
75%,2031-06-11 00:00:00,66.730000,315.930000,2000.000000,105.520000,3653.000000,2021.000000,10.000000,24.000000,2021-08-05 00:00:00,23.180000,8.730000,97.750000,15.370000,15.120000,29.330000,5.230000,0.000000
max,2033-12-27 00:00:00,299.420000,347347.400000,2024.000000,4980.000000,7485.000000,2023.000000,12.000000,31.000000,2023-12-27 00:00:00,35.250000,13.980000,99.600000,23.120000,25.690000,43.610000,12.560000,1.000000
std,NaN,28.238332,1326.566380,33.680741,452.099112,500.050213,3.147879,3.370886,8.711995,NaN,8.182505,2.321970,0.622969,3.471680,6.230849,8.278799,1.691397,0.368864

In [14]:
data_non_indexed=data.copy()

In [15]:
data=data.set_index('Date')

In [18]:
data.index

DatetimeIndex(['2013-06-29', '2013-09-26', '2014-02-26', '2013-06-12',
               '2013-06-27', '2013-06-17', '2014-02-13', '2014-04-08',
               '2014-04-07', '2013-12-16',
               ...
               '2023-12-20', '2013-08-06', '2023-12-22', '2023-12-19',
               '2023-12-26', '2023-12-26', '2023-11-24', '2023-12-22',
               '2023-12-23', '2023-12-27'],
              dtype='datetime64[ns]', name='Date', length=161275, freq=None)

In [19]:
data.head()

,Emission_date,Expiration_date,CO2_emission,Emission_classification,Consumption_KWh_per_m2_per_year,Consumption_classification,Building_type,Building_condition,Year_of_construction,Surface_area_m2,...,day,Earth Skin Temperature,Humidity,Surface Pressure,Temperature at 2 Meters Range,Temperature at 2 Meters Minimum,Temperature at 2 Meters Maximum,Wind Speed,Name,holidays
Date,,,,,,,,,,,,,,,,,,,,,
2013-06-29,2013-06-29,2023-06-29,30.11,E,142.33,E,Vivienda individual,Existente,1962,49.0,...,29,21.92,8.24,98.10,17.45,11.76,29.22,3.45,Working day,0.0
2013-09-26,2013-09-26,2023-09-26,46.06,E,174.42,E,Vivienda individual,Existente,1974,81.0,...,26,25.90,9.16,97.02,16.92,17.44,34.37,4.02,Working day,0.0
2014-02-26,2014-02-26,2024-02-26,20.30,D,94.16,D,Vivienda individual,Existente,1999,72.0,...,26,5.69,4.21,97.87,8.25,1.69,9.94,4.11,Working day,0.0
2013-06-12,2013-06-12,2023-06-12,39.21,E,187.66,E,Vivienda individual,Existente,1970,65.0,...,12,25.69,10.62,97.62,15.64,16.14,31.78,3.02,Working day,0.0
2013-06-27,2013-06-27,2023-06-27,103.75,G,409.03,G,Vivienda individual,Existente,1965,46.0,...,27,20.51,7.51,97.97,16.16,11.04,27.20,5.42,Working day,0.0

In [23]:
print(data.index.is_monotonic_increasing)

False

In [24]:
data = data.sort_index()

In [25]:
print(data.index.min())
print(data.index.max())

2013-01-01 00:00:00
2023-12-27 00:00:00

In [26]:
data.loc['2013':'2015']

,Emission_date,Expiration_date,CO2_emission,Emission_classification,Consumption_KWh_per_m2_per_year,Consumption_classification,Building_type,Building_condition,Year_of_construction,Surface_area_m2,...,day,Earth Skin Temperature,Humidity,Surface Pressure,Temperature at 2 Meters Range,Temperature at 2 Meters Minimum,Temperature at 2 Meters Maximum,Wind Speed,Name,holidays
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,2013-01-01,2023-01-01,22.04,D,106.85,D,Vivienda individual,Existente,2005,86.02,...,1,6.26,5.00,97.43,7.57,3.69,11.26,7.42,New Year's Day,1.0
2013-01-01,2013-01-01,2023-01-01,140.14,G,535.52,G,Vivienda individual,Existente,1965,100.00,...,1,6.26,5.00,97.43,7.57,3.69,11.26,7.42,New Year's Day,1.0
2013-01-01,2013-01-01,2023-01-01,26.10,D,117.59,D,Vivienda individual,Existente,2006,62.20,...,1,6.26,5.00,97.43,7.57,3.69,11.26,7.42,New Year's Day,1.0
2013-01-01,2013-01-01,2023-01-01,60.48,E,267.21,E,Vivienda individual,Existente,2006,37.00,...,1,6.26,5.00,97.43,7.57,3.69,11.26,7.42,New Year's Day,1.0
2013-01-02,2013-01-02,2023-01-02,18.56,C,87.76,C,Vivienda individual,Existente,2006,60.00,...,2,5.80,4.82,98.08,8.99,2.08,11.08,4.56,Reconquest Day,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-31,2015-12-31,2025-12-31,51.43,E,254.17,E,Vivienda individual,Existente,1984,113.90,...,31,7.62,5.80,98.04,8.92,4.83,13.76,2.74,New Year's Eve,1.0
2015-12-31,2015-12-31,2025-12-31,62.30,F,304.21,G,Vivienda individual,Existente,1980,80.02,...,31,7.62,5.80,98.04,8.92,4.83,13.76,2.74,New Year's Eve,1.0
2015-12-31,2015-12-31,2025-12-31,68.02,E,336.28,F,Vivienda individual,Existente,1964,41.50,...,31,7.62,5.80,98.04,8.92,4.83,13.76,2.74,New Year's Eve,1.0
2015-12-31,2015-12-31,2025-12-31,22.79,D,110.94,D,Vivienda individual,Existente,1975,58.00,...,31,7.62,5.80,98.04,8.92,4.83,13.76,2.74,New Year's Eve,1.0
2015-12-31,2015-12-31,2025-12-31,100.81,G,405.42,G,Vivienda individual,Existente,1964,54.00,...,31,7.62,5.80,98.04,8.92,4.83,13.76,2.74,New Year's Eve,1.0

In [28]:
consumption_data=data['Consumption_KWh_per_m2_per_year']
consumption_data.head()

Date
2013-01-01    106.85
2013-01-01    535.52
2013-01-01    117.59
2013-01-01    267.21
2013-01-02     87.76
Name: Consumption_KWh_per_m2_per_year, dtype: float64